@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 6% 10%;
    --foreground: 210 20% 98%;
    --card: 240 6% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 100%;
    --secondary: 240 6% 20%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 92 87% 73%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 92% 64%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 4% 20%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeAndPullUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blurAnimation {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

.patrick-hand {
  font-family: "Patrick Hand", serif;
  font-weight: 400;
  font-style: normal;
}

.fade-pullup {
  animation: fadeAndPullUp 0.3s ease-out forwards,
    blurAnimation 0.3s ease-out forwards;
  opacity: 0;
}

.fade-pullup-delayed-1 {
  animation: fadeAndPullUp 0.3s ease-out forwards 0.2s,
    blurAnimation 0.3s ease-out forwards 0.2s;
  opacity: 0;
}

.fade-pullup-delayed-2 {
  animation: fadeAndPullUp 0.3s ease-out forwards 0.4s,
    blurAnimation 0.3s ease-out forwards 0.4s;
  opacity: 0;
}
